@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Noto Sans JP;
	src: url("/fonts/NotoSansJP-Regular.otf");
	font-weight: 400;
}
@font-face {
	font-family: Noto Sans JP;
	src: url("/fonts/NotoSansJP-Bold.otf");
	font-weight: 700;
}
@font-face {
	font-family: Noto Sans JP;
	src: url("/fonts/NotoSansJP-Medium.otf");
	font-weight: 500;
}
@font-face {
	font-family: Noto Sans JP;
	src: url("/fonts/NotoSansJP-Light.otf");
	font-weight: 300;
}
@font-face {
	font-family: Noto Sans JP;
	src: url("/fonts/NotoSansJP-Thin.otf");
	font-weight: 100;
}
@font-face {
	font-family: Noto Sans JP;
	src: url("/fonts/NotoSansJP-Black.otf");
	font-weight: 900;
}
